/* Шапка */
.header {
    background-color: #fff;
    margin-bottom: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
}
.header__logo {
    align-self: center;
}
/* Навигация */
.header__navigation {
    display: flex;
}