.basket-btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    padding: 15px;
    transition: background-color .3s;
}

.basket-btn svg {
    width: 25px;
    height: 25px;
    transition: fill .3s;
    fill: #f8b311;
}

.basket-btn:hover svg {
    fill: #f08400;
}

.basket-btn.active {
    background-color: rgb(236, 236, 236);
}


.basket-btn:focus-visible {
    background-color: #fde7cd;
}

